= render 'items/header'
.Box
  .Box__form
    .Box__form__text
      %h2 
        プロフィール変更
    .Box__form__main
      = form_with(model: @profile, local: true) do |f|
        = render "devise/shared/error_messages", resource: @profile
        .Field
          .Field__Text
            = f.label :first_name, "姓"
            %br
          = f.text_field :first_name, class: "text-form"
        .Field
          .Field__Text
            = f.label :last_name, "名"
            %br
          = f.text_field :last_name, class: "text-form"
        .Field
          .Field__Text
            = f.label :first_name_kana, "姓(カナ)"
            %br
          = f.text_field :first_name_kana, class: "text-form"
        .Field
          .Field__Text
            = f.label :last_name_kana, "名(カナ)"
            %br
          = f.text_field :last_name_kana, class: "text-form"
        .Field
          = f.label :birth_date, "生年月日"
          %br
          .Field__Text
            = f.date_select :birth_date, {use_month_numbers: true, start_year: 1950, end_year: (Time.now.year - 10), default: Date.new(1989, 1, 1)}, { class: "date-input" }
        .Field
          .Field__Text
            = f.label :phone_number, "電話番号"
            %br
          = f.text_field :phone_number, class: "text-form"
        .Field
          .Field__Text
            = f.label :zip_code, "郵便番号"
            %br
          = f.text_field :zip_code, class: "text-form"
        .Field
          .Field__Text
            = f.label :prefecture, "都道府県"
            %br
          = f.text_field :prefecture, class: "text-form"
        .Field
          .Field__Text
            = f.label :city, "市町村"
            %br
          = f.text_field :city, class: "text-form"
        .Field
          .Field__Text
            = f.label :address, "番地"
            %br
          = f.text_field :address, class: "text-form"
        .Field
          .Field__Text
            = f.label :building, "建物名"
            %br
          = f.text_field :building, class: "text-form"
        .Actions
          = f.submit "変更する", class: "Actions__Btn"