.Box
  .Box__form
    .Box__form__text
      %h2 個人情報登録
    .Box__form__main
      = form_for @profile do |f|
        = render "devise/shared/error_messages", resource: @profile
        .field
          = f.label :first_name, "姓 *必須"
          %br
          = f.text_field :first_name 
        .field
          = f.label :last_name, "名 *必須"
          %br
          = f.text_field :last_name
        .field
          = f.label :first_name_kana, "姓(カナ) *必須"
          %br
          = f.text_field :first_name_kana
        .field
          = f.label :last_name_kana, "名(カナ) *必須"
          %br
          = f.text_field :last_name_kana
        .field
          = f.label :birth_date, "生年月日 *必須"
          %br
          = f.date_select :birth_date, use_month_numbers: true, start_year: 1950, end_year: (Time.now.year - 10), default: Date.new(1989, 1, 1)
        .field
          = f.label :phone_number, "電話番号"
          %br
          = f.text_field :phone_number
        .field
          = f.label :zip_code, "郵便番号 *必須"
          %br
          = f.text_field :zip_code
        .field
          = f.label :prefecture, "都道府県 *必須"
          %br
          = f.text_field :prefecture
        .field
          = f.label :city, "市区町村 *必須"
          %br
          = f.text_field :city
        .field
          = f.label :address, "番地 *必須"
          %br
          = f.text_field :address
        .field
          = f.label :building, "建物名"
          %br
          = f.text_field :building
        .actions
          = f.submit "サインアップ"
    .Box__info
      %h2.Box__info__text ログインはこちら
      %h2.Box__info__arrow ⬇︎
      .Box__info__link
        = render "devise/shared/links"

