= render "items/header"
.wrapper
  .Background
    .Main__Bar
      .Main__Bar__Container
        %h2.Main__Bar__Username
          = current_user.nickname
      .Main__Bar__Contents 
        .Main__Bar__Tabs
          %ul.Main__Bar__Tabs__Lists
            お知らせ
          %li.Main__Bar__Tabs__List
            = link_to '#' do
              .Main__Bar__Tabs__List__Bar
                = image_tag 'material/logo/logo.png', alt: 'notimage', height: '30', width: '65', class: ''
                %h3.notice
                  1,000円分のポイントGETのチャンス！時間がない方はバーコード出品でさくっと出品しよう♪
          %li.Main__Bar__Tabs__List
            = link_to '#' do
              .Main__Bar__Tabs__List__Bar
                = image_tag 'material/logo/logo.png', alt: 'notimage', height: '30', width: '65', class: ''
                %h3.notice
                  購入も出品もしなくてOK！必ずP300もらえる！
          %li.Main__Bar__Tabs__List
            = link_to '#' do
              .Main__Bar__Tabs__List__Bar
                = image_tag 'material/logo/logo.png', alt: 'notimage', height: '30', width: '65', class: ''
                %h3.notice
                  購入も出品もしなくてOK！かんたん操作で300円分のポイントもらえる！
          %li.Main__Bar__Tabs__List
            = link_to '#' do
              .Main__Bar__Tabs__List__Bar
                = image_tag 'material/logo/logo.png', alt: 'notimage', height: '30', width: '65', class: ''
                %h3.notice
                  FURIMA、かわいい雑貨はじめました！全国のローソンにてFURIMAオリジナル雑貨販売中♪
          %li.Main__Bar__Tabs__List
            = link_to '#' do
              .Main__Bar__Tabs__List__Bar
                = image_tag 'material/logo/logo.png', alt: 'notimage', height: '30', width: '65', class: ''
                %h3.notice
                  FamiPayでお買い物をするとFamiPayボーナスを最大2000円相当還元！キャンペーン開催中♪
    .Side__Bar
      %nav.Mypage__Nav
        %ul.Mypage__Nav__Lists
          %li.Mypage__Nav__List__Container
            = link_to "ログアウト", user_path(current_user), method: :delete, class: 'Mypage__Nav__List__Container__Item' 
          %li.Mypage__Nav__List__Container
            = link_to "ユーザー情報変更", edit_user_registration_path(current_user), class: 'Mypage__Nav__List__Item'
          %li.Mypage__Nav__List__Container
            = link_to 'プロフィール変更', edit_profile_path(current_user.profile.id), class: 'Mypage__Nav__List__Item'
          %li.Mypage__Nav__List__Container
            = link_to 'クレジットカード登録/変更', new_card_path, class: 'Mypage__Nav__List__Item'
  = render 'items/footer'