= render "header"
.Item__contents
  .Item__contents__container
    = form_for @item do |f|
      .Item__input-form#item-image
        = f.fields_for :images do |i|
          %div.js-file_group{data: {index: "= image.index"}}
          .Item__input-form__image
            = i.file_field :src, class: 'js-file'
            %span.js-remove
              削除
      = f.text_field :name, class: 'Item__input-form'
      
      = f.text_field :price, class: 'Item__input-form'
      
      = f.text_area :detail, size: '50x10', class: 'Item__input-form'
      
      = f.text_area :condition, size: '50x10', class: 'Item__input-form'
      
      = f.text_field :category_id, class: 'Item__input-form'
      
      = f.text_field :brand_id, class: 'Item__input-form'
      
      = f.text_field :size_id, class: 'Item__input-form'
      
      = f.text_field :user_id, class: 'Item__input-form'

      = f.fields_for :shipping do |s|
        = s.text_field :method, class: 'Item__input-form'
        = s.text_field :prefecture_from, class: 'Item__input-form'
        = s.text_field :period_before_shipping, class: 'Item__input-form'
        = s.text_field :fee_burden, class: 'Item__input-form'
      
      = f.submit 
